{% extends 'base.html' %}

{% block content %}
<style>
    .center-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: auto;
        max-width: 500px;
    }

    .errors {
        color: red;
        list-style-type: none;
        padding: 0;
    }
</style>

<div class="center-content">
    <h2>Submit a Complaint</h2>
    <form method="POST" enctype="multipart/form-data">
        {{ form.csrf_token }}
        {{ form.user_id.label }} {{ form.user_id }}<br>
        {{ form.username.label }} {{ form.username }}<br>
        {{ form.email.label }} {{ form.email }}<br>
        {{ form.complaint.label }} {{ form.complaint }}<br>
        {{ form.file.label }} {{ form.file }}<br>
        {% if form.errors %}
        <ul>
            {% for key, val in form.errors.items() %}
            <li>{{ " ".join(val) }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% if form.captcha %}
        {{ form.captcha.label }} {{ form.captcha }}
        {% if form.captcha.errors %}
        <ul class="errors">
            So You Are A Robot Huh?
        </ul>
        {% endif %}
        {% endif %}
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>

    {% if complaints %}
    <div>Complaints made by {{complaints[0].user}}</div>
    <ul>
        {% for complaint in complaints %}
        <li class="">
            {{complaint.complaint}}
            <button class="btn"><a
                    href="{{ url_for('complaint_blueprint.edit', complaint_id=complaint.complaint_id)  }}"><i class="fas fa-edit"></i></a></button>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
{% endblock %}